<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ-s80uzmR_f2tQnVVntCwI4G5RjuDreg</string>
	<key>GCM_SENDER_ID</key>
	<string>735539035493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bountyRomance</string>
	<key>PROJECT_ID</key>
	<string>bounty-romance</string>
	<key>STORAGE_BUCKET</key>
	<string>bounty-romance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735539035493:ios:2e25f45451eeabd564f58c</string>
</dict>
</plist>